<!DOCTYPE html>
<meta charset="utf-8">
<style>


</style>
<body>

  <!-- load the d3.js library -->
  <script src="http://d3js.org/d3.v3.min.js"></script>

  <script>
    var country = "{{ country }}";

    // Set the dimensions of the canvas / graph
    var margin = {top: 30, right: 20, bottom: 50, left: 60},
    width = 600 - margin.left - margin.right,
    height = 270 - margin.top - margin.bottom;

    // Set the graph labels offsets
    var label_offset = 50;

    // Parse the date / time
    <!-- var parseDate = d3.time.format("%y").parse; -->
    <!-- console.log(parseDate); -->

    // Set the ranges
    var x = d3.scale.linear().range([0, width]);
    <!-- var x = d3.time.scale().range([0, width]); -->
    var y = d3.scale.linear().range([height, 0]);

    // Define the axes
    var xAxis = d3.svg.axis().scale(x)
    .orient("bottom").ticks(9).tickFormat(d3.format("d"));

    var yAxis = d3.svg.axis().scale(y)
    .orient("left").ticks(5);

    // Define the line
    var valueline = d3.svg.line()
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.index); });

    // Adds the svg canvas
    var svg = d3.select("#line_graph")
    .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform",
    "translate(" + margin.left + "," + margin.top + ")");

    <!-- console.log(country); -->

    // Get the data
    d3.json("/linegraphdata/" + country + ".json", function(error, data) {
    <!-- console.log(data); -->
    data.forEach(function(d) {
    <!-- console.log(d); -->
    <!-- d.date = parseDate(d.date); -->
    <!-- console.log(d.date); -->
    });

    // Scale the range of the data
    x.domain(d3.extent(data, function(d) { return d.date; }));
    y.domain([0, d3.max(data, function(d) { return d.index; })]);

    // Add the valueline path.
    svg.append("path")
    .attr("class", "line")
    .attr("d", valueline(data));

    // Add the X Axis
    svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);

    // Add the Y Axis
    svg.append("g")
    .attr("class", "y axis")
    .call(yAxis);

    // y-axis label
    svg.append("text")
    .attr("class", "y label")
    .attr("text-anchor", "middle")  // this makes it easy to centre the text as the transform is applied to the anchor
    .attr("transform", "rotate(-90)")  // text is drawn off the screen top left, move down and out and rotate
    .attr("x", -(height / 2))
    .attr("y", -label_offset)
    .text("Value");

    // x-axis label
    svg.append("text")
    .attr("class", "x label")
    .attr("text-anchor", "middle")
    .attr("x", width / 2)
    .attr("y", height + label_offset)
    .text("Year");

    });


  </script>
</body>
